<section class="about">
    <div class="header">
        <div>
            <div class="little-primary">
                Quem somos
            </div>
            <div class="big-uncolor">“Levamos qualidade de vida à sua mesa. E praticidade 

                para um dia-a- dia mais saudável.”</div>
            <!--<div class="little-uncolor">-->
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing-->
                <!--elit, sed do eiusmod tempor incididunt ut labore-->
                <!--et dolore magna aliqua.-->
            <!--</div>-->
        </div>
    </div>
    <div class="history">
        <div>
            <!--<div class="little-primary">A nossa história</div>-->
            <div class="big-secundary">A nossa história</div>
            <div class="little-black">Em 2015, os amigos Gihad Arabi, Leonardo Icardo e Bruno Sgarbi resolveram

                transformar a paixão por saúde e atividade física em negócio. Tudo começou 

                em uma conversa despretensiosa, onde os jovens comentavam sobre a falta de 

                opção para aqueles que querem manter uma dieta saudável mas não tem tempo

                para cozinhar. 

                Da conversa, veio a ideia: criar marmitas fitness para quem tem pressa, mas 

                não deixa de lado uma refeição balanceada. Porém, depois de muito trabalho e

                planejamento o projeto ganhou mais corpo e a ideia ficou mais ambiciosa.</div>
        </div>
    </div>

    <div class="mission">
        <div>
            <!--<div class="little-uncolor">Nossa missão</div>-->
            <div class="big-uncolor">Assim, surgiu a Personal Foods, totalmente adaptada ao novo estilo de vida do

                brasileiro.</div>
            <div class="little-uncolor desc">Os alimentos, produzidos em uma cozinha industrial por equipe qualificada, chegam    

                prontos para o seu consumo: tudo que você precisa é apenas de 3 minutos no

                microondas. Viu? é possível manter uma boa dieta, comendo algo saboroso e prático

                todos os dias.</div>
        </div>
    </div>
    <div class="impact-text">
        <div>
            <div class="quot inverse"></div>
            <div class="medium-secundary">Queremos nos estabelecer como referência
                de excelência pelos nossos produtos e serviços
                no mercado de alimentos saúdaveis.</div>
            <div class="quot"></div>
        </div>
    </div>
</section>