<section class="home">
    <div class="header">
        <div class="background"></div>
        <div class="overlay"></div>

        <div class="image"></div>
        <div class="content">
            <div class="title">Lorem ipsum dolor sit amet</div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <a class="more">SAIBA MAIS</a>
        </div>
        <div class="bottom-content">
            <div class="bullets"></div>
            <ul class="bullets">
            </ul>
        </div>
    </div>
    <div class="menu-food">
        <div class="little-title-primary">O cardápio</div>
        <div class="medium-title-primary">Veja as nossas opções nutritivas e balanceadas.</div>
        <div class="carousel-menu"></div>
        <div class="button-menu" ng-click="switchPage('menu')">
            CONHEÇA
        </div>
    </div>
    <div class="who-we-are">
        <div>
            <div class="title">
                PERSONAL<br>FOODS
            </div>
            <div class="who-icon"></div>
            <div class="text">
                Nascemos para levar praticidade, sabor e qualidade para a mesa de quem busca refeições nutritivas e de fácil preparo.
            </div>
            <div class="button-who" ng-click="switchPage('about')">
                CONHEÇA
            </div>
        </div>
    </div>
    <div class="where-we-work">
        <div class="content">
            <div class="box">
                <div>
                    <div class="little-text">Onde enctontrar</div>
                    <div class="title-text">A Personal Foods já está em diversos lugares.</div>
                    <div class="little-text">Descubra onde encontrar nossos revendedores e pedir a sua refeição.</div>
                    <div class="search"  ng-click="switchPage('find')">PESQUISE</div>
                </div>
            </div>
        </div>
        <div class="map"></div>
    </div>
    <div class="insta">
        <div class="little-title">Personal Foods nas redes</div>
        <div class="big-title">Veja quem anda compartilhando uma vida saudável.</div>
        <ul class="insta-list _first">

        </ul>
        <ul class="insta-list _sec">

        </ul>
    </div>
</section>